.expand_link a {
    display: inline-block;
		font-family: dashicons;
		font-size: 16px;
    line-height: 1;
		height: 16px;
		width: 16px;
    margin: 0 0 0 10px;
		vertical-align: middle;
}
.expand_link a:before {
		content: "\f132";
}
.expand_link a.minus:before {
    content: "\f460";
}
